/* NOT RESPONSIBLE AND NOT WILL BE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clear {
  clear: both;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  height: 64px;
  margin-bottom: 32px;
  background: #9c1b3a;
}

header .logo {
  background-image: url('img/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 180px;
  height: 32px;
  float: left;
}

header .navigation {
  float: right;
}

header .navigation .navigation-container {
  list-style: none;
}

header .navigation .navigation-item {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

header .navigation .navigation-item a {
  color: white;
  text-decoration: none;
}

header .navigation .navigation-item:not(:last-child) {
  margin-right: 24px;
}

header .navigation .navigation-item.access-button {
  background: white;
  width: 90px;
  height: 32px;
  padding: 8px;
  text-align: center;
  color: black;
  border-radius: 8px;
}

.menu-title,
.dashboard-title {
  margin-bottom: 32px;
  font-size: 20px;
}

.menu-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 32px;
  justify-items: center;
  align-items: center;
  margin-bottom: 32px;
}

.menu-card {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 360px;
  border-radius: 8px;
  position: relative;
}

.option-img {
  background-size: cover;
  background-repeat: none;
  height: 160px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 18px;
}

.option-name {
  margin: 0 24px;
}

.option-title {
  font-weight: bold;
  font-size: 18px;
}

.option-desc {
  font-size: 12px;
}

.option-price {
  position: absolute;
  right: 24px;
  bottom: 24px;
  display: inline-block;
  background: #9c1b3a;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 90px;
  height: 30px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
}

.dashboard-controls {
  margin-bottom: 24px;
}

.button {
  display: inline-block;
  background: #9c1b3a;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 160px;
  height: 30px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  border: 0;
  text-decoration: none;
}

.dashboard-table {
  width: 100%;
  margin-bottom: 32px;
}

.dashboard-table table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table thead {
  background: #eee;
}

.dashboard-table th,
td {
  text-align: left;
  padding: 10px;
}

.dashboard-table tr:not(:last-child) td {
  border-bottom: 1px solid #dfdfdf;
}

.dashboard-table th {
  font-size: 14px;
}

.dashboard-table td {
  font-size: 12px;
}

.dashboard-table td img {
  width: 50px;
  height: 50px;
}

.dashboard-table tr td {
  width: 20%;
}

.dashboard-table tr td:first-child {
  width: 60%;
}

.dashboard-table a {
  display: inline-block;
  text-decoration: none;
  margin-right: 16px;
  font-weight: bold;
  color: #9c1b3a;
}

.dashboard-table .title {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 500;
}

.dashboard-image {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: none;
  display: inline-block;
  border-radius: 8px;
}

td > * {
  vertical-align: middle;
}

.restaurant-form {
  width: 50%;
  float: left;
}

.restaurant-form form input,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}

.restaurant-form form input {
  height: 36px;
}

.restaurant-form form textarea {
  resize: vertical;
  height: 140px;
}

.restaurant-form form button {
  margin-top: 20px;
  width: 100%;
}

.restaurant-banner {
  float: right;
  height: 400px;
  width: 40%;
  margin: 0 auto;
  background: url(img/menu-placeholder.jfif);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

#fileUpload {
  display: none;
}

#customButton {
  background: white;
  color: #000;
  border: 1px solid #9c1b3a;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
}

#fileName {
  font-size: 12px;
  margin-left: 8px;
}

.site-info {
  background: #eee;
  color: #666;
  margin: 32px 0;
  padding: 32px;
  border: 1px dotted #ccc;
  font-size: 12px;
  border-radius: 8px;
  text-align: center;
}

.info-title {
  font-weight: bold;
  color: #666;
  margin-bottom: 16px;
}

.site-info.info-img {
  padding: 16px;
  margin: 8px 0;
}
